<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-TI92oHOdYDQ0rWhuE6709Tk2aq6MOfMQG93Y92LsAF5uu1J/qm8Q2OuPzVzP2v1C"
          crossorigin="anonymous">
    <style>
        html, body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }

        .content {
            flex: 1;
        }

        .footer {
            text-align: center;
            padding: 10px;
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        .navbar-nav .nav-item:hover {
            background-color: #e9ecef;
        }
    </style>
</head>
<body class="d-flex flex-column">
<header class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#" th:href="@{/}">Staniel Fitness</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
<!--        TODO Add Clients ONLY for Trainer role -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a class="nav-link" href="#" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a class="nav-link" href="#" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-link" href="#" th:href="@{/homepage}">Home</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-link" href="#" th:href="@{/myprofile}">Profile</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-link" href="#" th:href="@{/messages/inbox}">Inbox</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-link" href="#" th:href="@{/bodymeasurementslogs}">Body Measurements</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-link" href="#" th:href="@{/workoutlogs}">Workouts</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-link" href="#" th:href="@{/nutritionlogs}">Nutritions</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-link" href="#" th:href="@{/exercises}">Exercises</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-link" href="#" th:href="@{/trainers}">Trainers</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-link" href="#" th:href="@{/bmicalculator}">BMI Calculator</a>
                </li>

                <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_TRAINER'')')}">
                    <a class="nav-link" href="#" th:href="@{/clients}">Clients</a>
                </li>

                <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <a class="nav-link" href="#" th:href="@{/adminpanel}">Admin Panel</a>
                </li>

                <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="nav-link btn btn-link">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="content">
</div>
<footer class="footer fixed-bottom py-3 bg-light text-center">
    <div class="container">
        <span class="text-muted">© 2023 Staniel Fitness Application. All rights reserved.</span>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"
        integrity="sha384-ZSLuIn+IqgYHQme3kHjvDz9IjP0M5ZJ83e8BYa2SrQzLrEjNUtgktjYL5w6emtIg"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyAYBhBcHfQTnFOtkI9tb6pTeMWHuI1lpi"
        crossorigin="anonymous"></script>

</body>
</html>
