<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Nutrition Log</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script>
        window.onload = function() {
            var today = new Date();
            var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
            var time = today.getHours() + ":" + today.getMinutes();
            document.getElementById("date").value = date;
            document.getElementById("time").value = time;
        }
    </script>
</head>
<body>
<header th:replace="fragments/commons::header"></header>
<div class="container">
    <h2 class="mt-5">Add Nutrition Log</h2>
    <form action="#" th:action="@{/nutritionlogs}" method="post">
        <div class="form-group">
            <label for="mealDetails">Meal Details</label>
            <textarea th:name="mealDetails" class="form-control" id="mealDetails"></textarea>
        </div>
        <div class="form-group">
            <label for="calories">Calories</label>
            <input type="text" th:name="calories" class="form-control" id="calories">
        </div>
        <div class="form-group">
            <label for="protein">Protein</label>
            <input type="text" th:name="protein" class="form-control" id="protein">
        </div>
        <div class="form-group">
            <label for="fat">Fat</label>
            <input type="text" th:name="fat" class="form-control" id="fat">
        </div>
        <div class="form-group">
            <label for="carbohydrates">Carbohydrates</label>
            <input type="text" th:name="carbohydrates" class="form-control" id="carbohydrates">
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" th:name="date" class="form-control" id="date">
        </div>
        <div class="form-group">
            <label for="time">Time</label>
            <input type="time" th:name="time" class="form-control" id="time">
        </div>
        <!--        <form th:action="@{/nutritionlogs}" method="post">-->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
