<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Fitness Profile</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <style>
    /* Add your custom styles here */
  </style>
</head>
<body>

<!-- Thymeleaf Header (if you have one) -->
<header th:replace="fragments/commons::header"></header>

<!-- Navbar (if you have one) -->


<!-- Content -->
<div class="container mt-4">
  <div class="jumbotron">
    <h1 class="display-4 text-center">My Fitness Profile</h1>

    <!-- Profile Information -->
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <ul class="list-group" th:object="${profile}">
          <li class="list-group-item">Height: <span th:text="${profile.height}"></span> cm</li>
          <li class="list-group-item">Weight: <span th:text="${profile.weight}"></span> kg</li>
          <li class="list-group-item">BMI: <span th:text="${profile.BMI}"></span></li>
<!--          <li class="list-group-item">Fitness Goals: <span th:text="${profile.fitnessGoals}"></span></li>-->
<!--          <li class="list-group-item">Body Measurements: <span th:text="${profile.bodyMeasurements}"></span></li>-->
<!--          <li class="list-group-item">Progress Photos: <span th:text="${profile.progressPhotos}"></span></li>-->
<!--          <li class="list-group-item">Personal Records (PRs): <span th:text="${profile.personalRecords}"></span></li>-->
<!--          <li class="list-group-item">Preferred Workouts: <span th:text="${profile.preferredWorkouts}"></span></li>-->
        </ul>
      </div>
    </div>

    <!-- Edit Profile Button -->
    <div class="text-center mt-4">
      <a class="btn btn-primary" href="#" role="button">Edit Profile</a>
    </div>
  </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Your custom JavaScript (if needed) -->
<script>
  // Add your custom JavaScript code here
</script>
</body>
</html>