<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Nutrition Log</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .btn-action {
            width: 100px;
            margin-right: 10px;
        }

        .btn-delete {
            background-color: red;
            border-color: red;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<header th:replace="~{fragments/commons::header}"></header>
<div class="container">
    <h2 class="mt-5">Nutrition Log</h2>
    <a href="nutritionlogs/create">
        <button type="button" class="btn btn-primary mb-3">Add Nutrition</button>
    </a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Meal Details</th>
            <th>Calories</th>
            <th>Protein</th>
            <th>Fat</th>
            <th>Carbohydrates</th>
            <th>Date</th>
            <th>Time</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="log : ${nutritionlogs}">
            <td th:text="${log.mealDetails}"></td>
            <td th:text="${log.calories}"></td>
            <td th:text="${log.protein}"></td>
            <td th:text="${log.fat}"></td>
            <td th:text="${log.carbohydrates}"></td>
            <td th:text="${log.date}"></td>
            <td th:text="${log.time}"></td>
            <td>
                <button type="button" class="btn btn-primary mt-2 btn-action btn-delete" th:data="${log.id}">
                    Delete
                </button>
                <form th:action="@{/nutritionlogs/{id}(id=${log.id})}" method="get" style="display: inline;" id="updateForm">
                    <!-- Add your form fields here -->
                    <a th:href="@{/nutritionlogs/update/{id}(id=${log.id})}">
                        <button type="button" class="btn btn-primary mt-2 btn-action">
                            Update
                        </button>
                    </a>

                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    // function submitUpdateForm() {
    //     var id = document.getElementById('updateForm').getAttribute('action').split("/")[2];
    //     fetch('/nutritionlogs/' + id, {
    //         method: 'POST',
    //         headers: {
    //             'Content-Type': 'application/x-www-form-urlencoded',
    //         },
    //         body: new URLSearchParams(new FormData(document.getElementById('updateForm'))),
    //     })
    //         .then(response => {
    //             return response.json();
    //         })
    //         .then(data => {
    //             window.location.href = '/nutritionlogs';
    //         })
    //         .catch((error) => {
    //             console.error('Error:', error);
    //         });
    // }

    document.querySelectorAll('.btn-delete').forEach(function (button) {
        button.addEventListener('click', function () {
            var id = this.getAttribute('data');
            fetch('/nutritionlogs/' + id, {
                method: 'DELETE',
            })
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    window.location.href = '/nutritionlogs';
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        });
    });
</script>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>