    <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .registration-container {
            margin-top: 50px;
        }

        .form-container {
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .btn-register {
            background-color: #007bff;
            border-color: #007bff;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .material-icons {
            vertical-align: middle;
            margin-right: 5px;
        }
    </style>
</head>
<body>
<header th:replace="fragments/commons::header"></header>

<div class="container registration-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-container">
                <h2 class="text-center mb-4">Staniel Fitness Registration</h2>

                <form th:action="@{/register}" method="post">
                    <div class="form-group">
                        <label for="username"><i class="material-icons">person</i> Username</label>
                        <input type="text" th:value="${userState == null} ? '' : ${userState.username}" th:name="username" class="form-control" id="username" required>
                    </div>

                    <div class="form-group">
                        <label for="email"><i class="material-icons">email</i> Email</label>
                        <input type="email" th:name="email" class="form-control" id="email" required>
                    </div>

                    <div class="form-group">
                        <label for="password"><i class="material-icons">lock</i> Password</label>
                        <input type="password" th:name="password" class="form-control" id="password" required>
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword"><i class="material-icons">lock</i> Confirm Password</label>
                        <input type="password" th:name="confirmPassword" class="form-control" id="confirmPassword"
                               required>
                    </div>

                    <div class="form-group">
                        <label for="gender"><i class="material-icons">wc</i> Gender</label>
                        <select th:name="gender" class="form-control" id="gender" required>
                            <option value="">Select...</option>
                            <option value="MALE">Male</option>
                            <option value="FEMALE">Female</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="height"><i class="material-icons">height</i> Height (cm)</label>
                        <input type="number" th:name="height" class="form-control" id="height" required>
                    </div>

                    <div class="form-group">
                        <label for="weight"><i class="material-icons">fitness_center</i> Weight (kg)</label>
                        <input type="number" th:name="weight" class="form-control" id="weight" required>
                    </div>

                    <div th:if="${errorMessage}" class="alert alert-danger">
                        <i class="fas fa-exclamation-circle icon"></i>
                        <span th:text="${errorMessage}"></span>
                    </div>

                    <button type="submit" class="btn btn-primary btn-register"><i class="material-icons">person_add</i>
                        Register
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
