<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Nutrition Log</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<header th:replace="fragments/commons::header"></header>
<div class="container">
    <h2 class="mt-5">Update Nutrition Log</h2>
    <form action="#" th:action="@{/nutritionlogs/update/{id}(id=${nutritionLogDTO.id})}" method="post">
        <div class="form-group">
            <label for="mealDetails">Meal Details</label>
            <input type="text" class="form-control" id="mealDetails" th:name="mealDetails" th:value="${nutritionLogDTO.mealDetails}">
        </div>
        <div class="form-group">
            <label for="calories">Calories</label>
            <input type="number" class="form-control" id="calories" th:name="calories" th:value="${nutritionLogDTO.calories}">
        </div>
        <div class="form-group">
            <label for="protein">Protein</label>
            <input type="number" class="form-control" id="protein" th:name="protein" th:value="${nutritionLogDTO.protein}">
        </div>
        <div class="form-group">
            <label for="fat">Fat</label>
            <input type="number" class="form-control" id="fat" th:name="fat" th:value="${nutritionLogDTO.fat}">
        </div>
        <div class="form-group">
            <label for="carbohydrates">Carbohydrates</label>
            <input type="number" class="form-control" id="carbohydrates" th:name="carbohydrates" th:value="${nutritionLogDTO.carbohydrates}">
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" th:name="date" th:value="${nutritionLogDTO.date}">
        </div>
        <div class="form-group">
            <label for="time">Time</label>
            <input type="time" class="form-control" id="time" th:name="time" th:value="${nutritionLogDTO.time}">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
